<h1 mat-dialog-title [translate]="'todo.dialog.lbl-add'"></h1>
    <div mat-dialog-content>
          <form [formGroup]="todoForm">
            <mat-form-field appearance="outline">
              <mat-label [translate]="'todo.dialog.lbl-taskname'"></mat-label>
              <input [translate]="'todo.dialog.lbl-task-ph'" formControlName="taskName" matInput placeholder=""/>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label [translate]="'todo.dialog.lbl-category'"></mat-label>
              <mat-select [translate]="'todo.dialog.lbl-category'" formControlName="category" placeholder="">
                <mat-option value="Work">{{'todo.dialog.cat-val' | translate}}</mat-option>
                <mat-option value="Personal">{{'todo.dialog.cat-val2' | translate}}</mat-option>
                <mat-option value="School">{{'todo.dialog.cat-val3' | translate}}</mat-option>
                <mat-option value="Other">{{'todo.dialog.cat-val4' | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label [translate]="'todo.dialog.date-lbl'"></mat-label>
              <input formControlName="date" matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label [translate]="'todo.dialog.desc-lbl'"></mat-label>
              <textarea [translate]="'todo.dialog.desc-lbl'" formControlName="description" matInput placeholder=""></textarea>
            </mat-form-field>
            <label [translate]="'todo.dialog.priority-lbl'" for=""><h1></h1></label>
            <mat-radio-group formControlName="priority" class="example-radio-group">
              <mat-radio-button class="example-radio-button" *ngFor="let task of priorityList" [value]="task">
                {{task}}</mat-radio-button>
            </mat-radio-group>
          </form>
    </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-fab extended color="warn" mat-dialog-close="">{{'todo.dialog.cancel-btn' | translate}}</button>
    <button mat-fab extended color="primary" (click)="addTask()">
      {{ 'todo.dialog.save-btn' | translate }}</button>
</div>

