<h1 mat-dialog-title [translate]="'todo.translate.title'"></h1>
 <div class="container" align="center" style="padding-bottom: 30px">
   <p style="color: white; font-size: medium" [translate]="'todo.translate.text'"></p>
   <button mat-fab extended color="accent"  style="margin-right: 10px" (click)="useLanguage('de')">german</button>
    <button mat-fab extended color="accent" (click)="useLanguage('en')">english</button>
    <button mat-fab extended color="accent" style="margin-left: 10px" (click)="useLanguage('fr')">french</button>
   <button mat-fab extended color="accent" style="margin-left: 10px" (click)="useLanguage('hi')">hindi</button>
 </div>

  <div mat-dialog-actions [align]="'end'">
    <button mat-fab extended color="warn" mat-dialog-close="">{{'todo.translate.ok-btn' | translate}}</button>
</div>


