<h1 mat-dialog-title>Translate Text</h1>
 <div class="container" align="center" style="padding-bottom: 30px">
   <p style="color: white; font-size: medium">Choose language for translation:</p>
   <button mat-fab extended color="accent" style="margin-right: 10px" (click)="useLanguage('de')">de</button>
    <button mat-fab extended color="accent" (click)="useLanguage('en')">en</button>
    <button mat-fab extended color="accent" style="margin-left: 10px" (click)="useLanguage('fr')">de</button>
 </div>

  <div mat-dialog-actions [align]="'end'">
    <button mat-fab extended color="primary" mat-dialog-close="">Cancel</button>
</div>


